
.wrap{
	max-width: 1000px;
	margin: auto;

}
#main-menu {
	float: left;
	font-size: 16px;
	margin-right: 10px;
	margin-bottom: 70px;
}

#main-menu img{
	border-radius: 0;
}
#main-menu a{
	margin-right: 5px;
	display: block;

}
.menu {
	background-color: black;
	width: 150px;
	line-height: 40px;
	position: absolute;
	left:290px;


}
.menu  a{
	color: white;
	margin-left: 20px;
	
}
