*{
	box-sizing: border-box;
}
.wrap{
	
	width: 80%;
	max-width: 1000px;
	margin:0 auto;
	overflow-y: auto;
	
}
.box{
	width: 50%;
	padding-left: 2%;
	float: left;
	display: block;
	text-align: center;
	
}
img:hover{
	border-radius: 50%;	
}
img{
	width: 100%;
	border: 2px solid blue;
}
.box img{
	width: 100%;
}
	a:link {
		color: black;
	}
	a:hover{
		color: red;
	}
	a:visited { 
		color: black;
	}


#main-menu {
	float: left;
	font-size: 16px;
	/*margin-right: 10px;*/
	margin-bottom: 70px;
	position: relative;
}

#main-menu img{
	border-radius: 0;
}
#main-menu a{
	margin-right: 5px;
	display: block;

}

#logo{
	position: absolute;
	z-index: 2;
	left: 38px;
	bottom: -76px;
}
#logo img{
	
	border-radius: 50%;

	width: 200px;
	height: 200px;
	

}

.menu {
	background-color: black;
	width: 150px;
	line-height: 40px;
	position: absolute;
	left:0;
	top:600px;


}
.menu  a{
	color: white;
	margin-left: 20px;
	margin-top: 25px;

	
}
#back img{
	border-radius: 0;
	max-width: 50px;
	border: 0;
	position: fixed;
	left: 25px;
	top: 5px;

}
.content-box{
	margin-left: 150px;
}
