<%- include('include/header-top') %>
<link rel="stylesheet" href="css/homepage.css">
<link rel="stylesheet" href="../css/category.css">

<%- include('include/header') %>

<section>
	<div class="background-headset-area">
		<img src="../img/product/background-headset.jpg">
	</div>
	<div class="fixed-product-category-area hidden-sm hidden-xs">
		<div class="container-fluid">
			<ul>
				<li>
					<a href="#steelseries-headset">
						<img src="../img/product/sslogo.png">
					</a>
				</li>
				<li>
					<a href="#razer-headset">
						<img src="../img/product/rzlogo.png">
					</a>
				</li>
				<li>
					<a href="#ozone-headset">
						<img src="../img/product/ozlogo.png">
					</a>
				</li>
				<li>
					<a href="#msi-headset">
						<img src="../img/product/msilogo.png">
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="steelseries-product-area" id="steelseries-headset">
		<div class="container-fluid">
			<div class="category-title">
				<h2>Tai Nghe SteelSeries</h2>
			</div>
			<div class="product-category-content new-product-category-content">
				<div class="product-category-item new-product-category-item">
					<div class="product-category-thubnail new-product-category-thubnail">
						<img src="../img/product/newproduct1.png">
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-cart">
						<a href="#" class="">Mua Hàng</a>
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-more">
						<a href="product.html" class="">Xem Thêm</a>
					</div>
					<div class="product-category-information new-product-category-information">
						<div class="container-fluid">
							<div class="product-category-title new-product-category-title col-xs-7">
								<p>Arctis 3 Bluetooth</p>
							</div>
							<div class="product-category-price new-product-category-price col-xs-5">
								<p>2.000.000 
									<span>VNĐ</span>
								</p>
							</div>
						</div>
					</div>
					<div class="product-category-description new-product-category-description">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
					</div>
					<div class="product-category-option new-product-category-option">
						<ul>
							<li class="option-color">
								<span class="black"></span>
							</li>
							<li class="option-color">
								<span class="white"></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-category-item new-product-category-item">
					<div class="product-category-thubnail new-product-category-thubnail">
						<img src="../img/product/newproduct1.png">
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-cart">
						<a href="#" class="">Mua Hàng</a>
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-more">
						<a href="#" class="">Xem Thêm</a>
					</div>
					<div class="product-category-information new-product-category-information">
						<div class="container-fluid">
							<div class="product-category-title new-product-category-title col-xs-7">
								<p>Arctis 3 Bluetooth</p>
							</div>
							<div class="product-category-price new-product-category-price col-xs-5">
								<p>2.000.000 
									<span>VNĐ</span>
								</p>
							</div>
						</div>
					</div>
					<div class="product-category-description new-product-category-description">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
					</div>
					<div class="product-category-option new-product-category-option">
						<ul>
							<li class="option-color">
								<span class="black"></span>
							</li>
							<li class="option-color">
								<span class="white"></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-category-item new-product-category-item">
					<div class="product-category-thubnail new-product-category-thubnail">
						<img src="../img/product/newproduct1.png">
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-cart">
						<a href="#" class="">Mua Hàng</a>
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-more">
						<a href="#" class="">Xem Thêm</a>
					</div>
					<div class="product-category-information new-product-category-information">
						<div class="container-fluid">
							<div class="product-category-title new-product-category-title col-xs-7">
								<p>Arctis 3 Bluetooth</p>
							</div>
							<div class="product-category-price new-product-category-price col-xs-5">
								<p>2.000.000 
									<span>VNĐ</span>
								</p>
							</div>
						</div>
					</div>
					<div class="product-category-description new-product-category-description">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
					</div>
					<div class="product-category-option new-product-category-option">
						<ul>
							<li class="option-color">
								<span class="black"></span>
							</li>
							<li class="option-color">
								<span class="white"></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-category-item new-product-category-item">
					<div class="product-category-thubnail new-product-category-thubnail">
						<img src="../img/product/newproduct1.png">
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-cart">
						<a href="#" class="">Mua Hàng</a>
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-more">
						<a href="#" class="">Xem Thêm</a>
					</div>
					<div class="product-category-information new-product-category-information">
						<div class="container-fluid">
							<div class="product-category-title new-product-category-title col-xs-7">
								<p>Arctis 3 Bluetooth</p>
							</div>
							<div class="product-category-price new-product-category-price col-xs-5">
								<p>2.000.000 
									<span>VNĐ</span>
								</p>
							</div>
						</div>
					</div>
					<div class="product-category-description new-product-category-description">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
					</div>
					<div class="product-category-option new-product-category-option">
						<ul>
							<li class="option-color">
								<span class="black"></span>
							</li>
							<li class="option-color">
								<span class="white"></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-category-item new-product-category-item">
					<div class="product-category-thubnail new-product-category-thubnail">
						<img src="../img/product/newproduct1.png">
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-cart">
						<a href="#" class="">Mua Hàng</a>
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-more">
						<a href="#" class="">Xem Thêm</a>
					</div>
					<div class="product-category-information new-product-category-information">
						<div class="container-fluid">
							<div class="product-category-title new-product-category-title col-xs-7">
								<p>Arctis 3 Bluetooth</p>
							</div>
							<div class="product-category-price new-product-category-price col-xs-5">
								<p>2.000.000 
									<span>VNĐ</span>
								</p>
							</div>
						</div>
					</div>
					<div class="product-category-description new-product-category-description">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
					</div>
					<div class="product-category-option new-product-category-option">
						<ul>
							<li class="option-color">
								<span class="black"></span>
							</li>
							<li class="option-color">
								<span class="red"></span>
							</li>
							<li class="option-color">
								<span class="blue"></span>
							</li>
							<li class="option-color">
								<span class="white"></span>
							</li>
							<li class="option-color">
								<span class="grey"></span>
							</li>
						</ul>
					</div>
				</div>
				
			</div>

			<div class="new-product-category-content-bonus">
				<div class="container-fluid">
					<div class="npccb-information-hover npccb-information-hover-left">
						<div class="npccb-information npccb-information-left">
							<h2>Experience Arctis</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
							<a href="#">Xem thêm</a>
						</div>
					</div>
					<div class="npccb-information-hover">
						<div class="npccb-information npccb-information-right">
							<h2>make a splash</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
							<a href="#">Xem thêm</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="razer-product-area" id="razer-headset">
		<div class="container-fluid">
			<div class="category-title">
				<h2>Tai Nghe Razer</h2>
			</div>
			<div class="product-category-content razer-product-content">
				<div class="product-category-item saleoff-product-category-item">
					<div class="saleoff">
						<p>25% OFF</p>
					</div>
					<div class="product-category-thubnail saleoff-product-category-thubnail">
						<img src="../img/product/razer1.png">
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-cart">
						<a href="#" class="">Mua Hàng</a>
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-more">
						<a href="#" class="">Xem Thêm</a>
					</div>
					<div class="product-category-information saleoff-product-category-information">
						<div class="container-fluid">
							<div class="product-category-title saleoff-product-category-title col-xs-7">
								<p>Razer Kraken 7.1 V2 Gunmetal Grey</p>
							</div>
							<div class="product-category-price saleoff-product-category-price col-xs-5">
								<p class="old-price">
									1.500.000<span> VNĐ</span> 
								</p>
								<p class="current-price">1.000.000<span> VNĐ</span>
								</p>
							</div>
						</div>
					</div>
					<div class="product-category-description saleoff-product-category-description">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
					</div>
					<div class="product-category-option saleoff-product-category-option">
						<ul>
							<li class="option-color">
								<span class="black"></span>
							</li>
							<li class="option-color">
								<span class="white"></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-category-item saleoff-product-category-item">
					<div class="saleoff">
						<p>25% OFF</p>
					</div>
					<div class="product-category-thubnail saleoff-product-category-thubnail">
						<img src="../img/product/razer1.png">
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-cart">
						<a href="#" class="">Mua Hàng</a>
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-more">
						<a href="#" class="">Xem Thêm</a>
					</div>
					<div class="product-category-information saleoff-product-category-information">
						<div class="container-fluid">
							<div class="product-category-title saleoff-product-category-title col-xs-7">
								<p>Razer Kraken 7.1 V2 Gunmetal Grey</p>
							</div>
							<div class="product-category-price saleoff-product-category-price col-xs-5">
								<p class="old-price">
									1.500.000<span> VNĐ</span> 
								</p>
								<p class="current-price">1.000.000<span> VNĐ</span>
								</p>
							</div>
						</div>
					</div>
					<div class="product-category-description saleoff-product-category-description">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
					</div>
					<div class="product-category-option saleoff-product-category-option">
						<ul>
							<li class="option-color">
								<span class="black"></span>
							</li>
							<li class="option-color">
								<span class="white"></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-category-item saleoff-product-category-item">
					<div class="saleoff">
						<p>25% OFF</p>
					</div>
					<div class="product-category-thubnail saleoff-product-category-thubnail">
						<img src="../img/product/razer1.png">
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-cart">
						<a href="#" class="">Mua Hàng</a>
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-more">
						<a href="#" class="">Xem Thêm</a>
					</div>
					<div class="product-category-information saleoff-product-category-information">
						<div class="container-fluid">
							<div class="product-category-title saleoff-product-category-title col-xs-7">
								<p>Razer Kraken 7.1 V2 Gunmetal Grey</p>
							</div>
							<div class="product-category-price saleoff-product-category-price col-xs-5">
								<p class="old-price">
									1.500.000<span> VNĐ</span> 
								</p>
								<p class="current-price">1.000.000<span> VNĐ</span>
								</p>
							</div>
						</div>
					</div>
					<div class="product-category-description saleoff-product-category-description">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
					</div>
					<div class="product-category-option saleoff-product-category-option">
						<ul>
							<li class="option-color">
								<span class="black"></span>
							</li>
							<li class="option-color">
								<span class="white"></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-category-item saleoff-product-category-item">
					<div class="saleoff">
						<p>25% OFF</p>
					</div>
					<div class="product-category-thubnail saleoff-product-category-thubnail">
						<img src="../img/product/razer1.png">
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-cart">
						<a href="#" class="">Mua Hàng</a>
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-more">
						<a href="#" class="">Xem Thêm</a>
					</div>
					<div class="product-category-information saleoff-product-category-information">
						<div class="container-fluid">
							<div class="product-category-title saleoff-product-category-title col-xs-7">
								<p>Razer Kraken 7.1 V2 Gunmetal Grey</p>
							</div>
							<div class="product-category-price saleoff-product-category-price col-xs-5">
								<p class="old-price">
									1.500.000<span> VNĐ</span> 
								</p>
								<p class="current-price">1.000.000<span> VNĐ</span>
								</p>
							</div>
						</div>
					</div>
					<div class="product-category-description saleoff-product-category-description">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
					</div>
					<div class="product-category-option saleoff-product-category-option">
						<ul>
							<li class="option-color">
								<span class="black"></span>
							</li>
							<li class="option-color">
								<span class="white"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="ozone-product-area" id="ozone-headset">
		<div class="container-fluid">
			<div class="category-title">
				<h2>Tai Nghe Ozone Gaming</h2>
			</div>
			<div class="product-category-content razer-product-content">
				<div class="product-category-item saleoff-product-category-item">
					<div class="product-category-thubnail saleoff-product-category-thubnail">
						<img src="../img/product/ozone1.png">
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-cart">
						<a href="#" class="">Mua Hàng</a>
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-more">
						<a href="product.html" class="">Xem Thêm</a>
					</div>
					<div class="product-category-information saleoff-product-category-information">
						<div class="container-fluid">
							<div class="product-category-title saleoff-product-category-title col-xs-7">
								<p>RAGE Z50</p>
							</div>
							<div class="product-category-price saleoff-product-category-price col-xs-5">
								<p class="old-price">
									1.500.000<span> VNĐ</span> 
								</p>
								<p class="current-price">1.000.000<span> VNĐ</span>
								</p>
							</div>
						</div>
					</div>
					<div class="product-category-description saleoff-product-category-description">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
					</div>
					<div class="product-category-option saleoff-product-category-option">
						<ul>
							<li class="option-color">
								<span class="black"></span>
							</li>
							<li class="option-color">
								<span class="white"></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-category-item saleoff-product-category-item">
					<div class="saleoff">
						<p>25% OFF</p>
					</div>
					<div class="product-category-thubnail saleoff-product-category-thubnail">
						<img src="../img/product/ozone1.png">
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-cart">
						<a href="#" class="">Mua Hàng</a>
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-more">
						<a href="product.html" class="">Xem Thêm</a>
					</div>
					<div class="product-category-information saleoff-product-category-information">
						<div class="container-fluid">
							<div class="product-category-title saleoff-product-category-title col-xs-7">
								<p>RAGE Z50</p>
							</div>
							<div class="product-category-price saleoff-product-category-price col-xs-5">
								<p class="old-price">
									1.500.000<span> VNĐ</span> 
								</p>
								<p class="current-price">1.000.000<span> VNĐ</span>
								</p>
							</div>
						</div>
					</div>
					<div class="product-category-description saleoff-product-category-description">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
					</div>
					<div class="product-category-option saleoff-product-category-option">
						<ul>
							<li class="option-color">
								<span class="black"></span>
							</li>
							<li class="option-color">
								<span class="white"></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-category-item saleoff-product-category-item">
					<div class="saleoff">
						<p>25% OFF</p>
					</div>
					<div class="product-category-thubnail saleoff-product-category-thubnail">
						<img src="../img/product/ozone1.png">
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-cart">
						<a href="#" class="">Mua Hàng</a>
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-more">
						<a href="product.html" class="">Xem Thêm</a>
					</div>
					<div class="product-category-information saleoff-product-category-information">
						<div class="container-fluid">
							<div class="product-category-title saleoff-product-category-title col-xs-7">
								<p>RAGE Z50</p>
							</div>
							<div class="product-category-price saleoff-product-category-price col-xs-5">
								<p class="old-price">
									1.500.000<span> VNĐ</span> 
								</p>
								<p class="current-price">1.000.000<span> VNĐ</span>
								</p>
							</div>
						</div>
					</div>
					<div class="product-category-description saleoff-product-category-description">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
					</div>
					<div class="product-category-option saleoff-product-category-option">
						<ul>
							<li class="option-color">
								<span class="black"></span>
							</li>
							<li class="option-color">
								<span class="white"></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-category-item saleoff-product-category-item">
					<div class="saleoff">
						<p>25% OFF</p>
					</div>
					<div class="product-category-thubnail saleoff-product-category-thubnail">
						<img src="../img/product/ozone1.png">
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-cart">
						<a href="#" class="">Mua Hàng</a>
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-more">
						<a href="product.html" class="">Xem Thêm</a>
					</div>
					<div class="product-category-information saleoff-product-category-information">
						<div class="container-fluid">
							<div class="product-category-title saleoff-product-category-title col-xs-7">
								<p>RAGE Z50</p>
							</div>
							<div class="product-category-price saleoff-product-category-price col-xs-5">
								<p class="old-price">
									1.500.000<span> VNĐ</span> 
								</p>
								<p class="current-price">1.000.000<span> VNĐ</span>
								</p>
							</div>
						</div>
					</div>
					<div class="product-category-description saleoff-product-category-description">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
					</div>
					<div class="product-category-option saleoff-product-category-option">
						<ul>
							<li class="option-color">
								<span class="black"></span>
							</li>
							<li class="option-color">
								<span class="white"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="msi-product-area" id="msi-headset">
		<div class="container-fluid">
			<div class="category-title">
				<h2>Tai Nghe MSI Gaming</h2>
			</div>
			<div class="product-category-content razer-product-content">
				<div class="product-category-item saleoff-product-category-item">
					<div class="saleoff">
						<p>25% OFF</p>
					</div>
					<div class="product-category-thubnail saleoff-product-category-thubnail">
						<img src="../img/product/msi1.png">
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-cart">
						<a href="#" class="">Mua Hàng</a>
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-more">
						<a href="#" class="">Xem Thêm</a>
					</div>
					<div class="product-category-information saleoff-product-category-information">
						<div class="container-fluid">
							<div class="product-category-title saleoff-product-category-title col-xs-7">
								<p>DS501 Gaming</p>
							</div>
							<div class="product-category-price saleoff-product-category-price col-xs-5">
								<p class="old-price">
									1.500.000<span> VNĐ</span> 
								</p>
								<p class="current-price">1.000.000<span> VNĐ</span>
								</p>
							</div>
						</div>
					</div>
					<div class="product-category-description saleoff-product-category-description">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
					</div>
					<div class="product-category-option saleoff-product-category-option">
						<ul>
							<li class="option-color">
								<span class="black"></span>
							</li>
							<li class="option-color">
								<span class="white"></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-category-item saleoff-product-category-item">
					<div class="saleoff">
						<p>25% OFF</p>
					</div>
					<div class="product-category-thubnail saleoff-product-category-thubnail">
						<img src="../img/product/msi1.png">
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-cart">
						<a href="#" class="">Mua Hàng</a>
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-more">
						<a href="#" class="">Xem Thêm</a>
					</div>
					<div class="product-category-information saleoff-product-category-information">
						<div class="container-fluid">
							<div class="product-category-title saleoff-product-category-title col-xs-7">
								<p>DS501 Gaming</p>
							</div>
							<div class="product-category-price saleoff-product-category-price col-xs-5">
								<p class="old-price">
									1.500.000<span> VNĐ</span> 
								</p>
								<p class="current-price">1.000.000<span> VNĐ</span>
								</p>
							</div>
						</div>
					</div>
					<div class="product-category-description saleoff-product-category-description">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
					</div>
					<div class="product-category-option saleoff-product-category-option">
						<ul>
							<li class="option-color">
								<span class="black"></span>
							</li>
							<li class="option-color">
								<span class="white"></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-category-item saleoff-product-category-item">
					<div class="saleoff">
						<p>25% OFF</p>
					</div>
					<div class="product-category-thubnail saleoff-product-category-thubnail">
						<img src="../img/product/msi1.png">
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-cart">
						<a href="#" class="">Mua Hàng</a>
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-more">
						<a href="#" class="">Xem Thêm</a>
					</div>
					<div class="product-category-information saleoff-product-category-information">
						<div class="container-fluid">
							<div class="product-category-title saleoff-product-category-title col-xs-7">
								<p>DS501 Gaming</p>
							</div>
							<div class="product-category-price saleoff-product-category-price col-xs-5">
								<p class="old-price">
									1.500.000<span> VNĐ</span> 
								</p>
								<p class="current-price">1.000.000<span> VNĐ</span>
								</p>
							</div>
						</div>
					</div>
					<div class="product-category-description saleoff-product-category-description">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
					</div>
					<div class="product-category-option saleoff-product-category-option">
						<ul>
							<li class="option-color">
								<span class="black"></span>
							</li>
							<li class="option-color">
								<span class="white"></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-category-item saleoff-product-category-item">
					<div class="saleoff">
						<p>25% OFF</p>
					</div>
					<div class="product-category-thubnail saleoff-product-category-thubnail">
						<img src="../img/product/msi1.png">
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-cart">
						<a href="#" class="">Mua Hàng</a>
					</div>
					<div class="product-thubnail-hover product-thubnail-hover-more">
						<a href="#" class="">Xem Thêm</a>
					</div>
					<div class="product-category-information saleoff-product-category-information">
						<div class="container-fluid">
							<div class="product-category-title saleoff-product-category-title col-xs-7">
								<p>DS501 Gaming</p>
							</div>
							<div class="product-category-price saleoff-product-category-price col-xs-5">
								<p class="old-price">
									1.500.000<span> VNĐ</span> 
								</p>
								<p class="current-price">1.000.000<span> VNĐ</span>
								</p>
							</div>
						</div>
					</div>
					<div class="product-category-description saleoff-product-category-description">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
					</div>
					<div class="product-category-option saleoff-product-category-option">
						<ul>
							<li class="option-color">
								<span class="black"></span>
							</li>
							<li class="option-color">
								<span class="white"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="social-area" id="social">
			<div class="container-fluid">
				<div class="follow-social">
					<div class="follow-logo">
						<ul>
							<li>
								<a class="twitter" href="">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a class="facebook" href="">
									<i class="fa fa-facebook-official" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a class="twitch" href="">
									<i class="fa fa-twitch" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a class="instagram" href="">
									<i class="fa fa-instagram" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a class="youtube" href="">
									<i class="fa fa-youtube-play" aria-hidden="true"></i>
								</a>
							</li>
						</ul>				
					</div>
					<div class="follow-text">
						<p>For Gamers . By Gamers .</p>
					</div>
				</div>
				<div class="review-social hidden-xs">
					<div class="review-gallery">
						<ul>
							<li class="review-gallery-user" id="gallery-user1" Stt="0">
								<img src="">
							</li>
							<li class="review-gallery-user" id="gallery-user2" Stt="1">
								<img src="">
							</li>
							<li class="review-gallery-user" id="gallery-user3" Stt="2">
								<img src="">
							</li>
							<li class="review-gallery-user review-active" id="gallery-user4" Stt="3">
								<img src="">
							</li>
							<li class="review-gallery-user" id="gallery-user5" Stt ="4">
								<img src="">
							</li>
							<li class="review-gallery-user" id="gallery-user6" Stt="5">
								<img src="">
							</li>
							<li class="review-gallery-user" id="gallery-user7" Stt="6">
								<img src="">
							</li>
						</ul>
					</div>
					<div class="review-user" stt="0" style="display: none">
						<p class="review-user-name">
							Evany
						</p>
						<p class="review-user-address">
							Hà Nội
						</p>
					</div>
					<div class="review-user" stt="1" style="display: none">
						<p class="review-user-name">
							Shoxx
						</p>
						<p class="review-user-address">
							Hà Nội
						</p>
					</div>
					<div class="review-user" stt="2" style="display: none">
						<p class="review-user-name">
							Arterzy
						</p>
						<p class="review-user-address">
							Hà Nội
						</p>
					</div>
					<div class="review-user" stt="3">
						<p class="review-user-name">
							KennyS
						</p>
						<p class="review-user-address">
							Hà Nội
						</p>
					</div>
					<div class="review-user" stt="4" style="display: none">
						<p class="review-user-name">
							Niko
						</p>
						<p class="review-user-address">
							Hà Nội
						</p>
					</div>
					<div class="review-user" stt="5" style="display: none">
						<p class="review-user-name">
							Dev1ce
						</p>
						<p class="review-user-address">
							Hà Nội
						</p>
					</div>
					<div class="review-user" stt="6" style="display: none">
						<p class="review-user-name">
							Kjaerbye
						</p>
						<p class="review-user-address">
							Hà Nội
						</p>
					</div>
					<div class="review-information">
						<span class="review-button review-previous"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
						<span class="review-content" stt="0" style="display: none;">
							Evany : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
						</span>
						<span class="review-content" stt="1" style="display: none;">
							Shoxx : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
						</span>
						<span class="review-content" stt="2" style="display: none;">
							RTZ : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to makeaaaaaaaaa 
						</span>
						<span class="review-content" stt="3">
							KennyS : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
						</span>
						<span class="review-content" stt="4" style="display: none;">
							Niko : Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
						</span>
						<span class="review-content" stt="5" style="display: none;">
							Dev1ce : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when to make a type specimen book
						</span>
						<span class="review-content" stt="6" style="display: none;">
							KjaerBye : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
						</span>
						<span class="review-button review-next"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
					</div>
				</div>
			</div>
		</div>
		<div class="other-product-category">
			<div class="other-product-category-item">
				<div class="other-product-category-scale other-product-category-keyboard">
					<p>Bàn Phím</p>
				</div>
			</div>
			<div class="other-product-category-item">
				<div class="other-product-category-scale other-product-category-mice">
					<p>Chuột</p>
				</div>
			</div>
			<div class="other-product-category-item">
				<div class="other-product-category-scale other-product-category-laptop">
					<p>Laptop</p>
				</div>
			</div>
			<div class="other-product-category-item">
				<div class="other-product-category-scale other-product-category-other">
					<p>Sản phẩm khác</p>
				</div>
			</div>
		</div>
	</section>

	<%- include('include/all-modal') %>

	<%- include('include/footer') %>
	<script src="../js/category.js"></script>