<%- include('include/header-top') %>
<link rel="stylesheet" href="css/homepage.css">


<%- include('include/header') %>

<!-- section homepage -->
<section>
	<div class="homepage-banner-area">
		<div id="mycarousel" class="carousel slide" data-ride="carousel">
			<!-- indicators -->
			<ol class="carousel-indicators">
				<li data-target="#mycarousel" data-slide-to="0" class="active"></li>
				<li data-target="#mycarousel" data-slide-to="1"></li>
				<li data-target="#mycarousel" data-slide-to="2"></li>
				<li data-target="#mycarousel" data-slide-to="3"></li>
				<li data-target="#mycarousel" data-slide-to="4"></li>
			</ol>

			<!-- wrapper for slides -->
			<div class="carousel-inner" role="listbox">

				<div class="item active">
					<img src="../img/homepage/banner1.jpg">
					<div class="carousel-caption ">
						<h2 class="wow fadeInDown" data-wow-duration="2s">rival 600</h2>
						<a class="wow fadeInUp" data-wow-duration="2s">mua hàng</a>
					</div>
				</div>
				<div class="item">
					<img src="../img/homepage/banner3.jpg">
					<div class="carousel-caption">
						<h2 class="wow zoomIn" data-wow-duration="2s">razer nommo chrome</h2>
						<a class="wow zoomIn" data-wow-duration="2s">mua hàng</a>
					</div>
				</div>
				<div class="item">
					<img src="../img/homepage/banner2.jpg">
					<div class="carousel-caption">
						<h2 class="wow fadeInLeft" data-wow-duration="2s">apex m750 tkl</h2>
						<a class="wow fadeInRight" data-wow-duration="2s">mua hàng</a>
					</div>
				</div>
				<div class="item">
					<img src="../img/homepage/banner3.jpg">
					<div class="carousel-caption">
						<h2 class="wow zoomIn" data-wow-duration="2s">razer nommo chrome</h2>
						<a class="wow zoomIn" data-wow-duration="2s">mua hàng</a>
					</div>
				</div>
				<div class="item">
					<img src="../img/homepage/banner2.jpg">
					<div class="carousel-caption">
						<h2 class="wow fadeInLeft" data-wow-duration="2s">apex m750 tkl</h2>
						<a class="wow fadeInRight" data-wow-duration="2s">mua hàng</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="new-product-area">
		<div class="container">
			<div class="introduce">
				<div class="row">
					<div class="introduce-content col-xs-4 wow fadeInLeft">
						<i class="fa fa-angellist" aria-hidden="true"></i>
						<p>Sản phẩm chất lượng cao</p>
					</div>
					<div class="introduce-content introduce-content-between col-xs-4 wow fadeInUp" data-wow-delay="0.5s">
						<i class="fa fa-truck" aria-hidden="true"></i>
						<p>Giao hàng toàn quốc</p>
					</div>
					<div class="introduce-content col-xs-4 wow fadeInRight" data-wow-delay="1s">
						<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
						<p>Dịch vụ hỗ trợ 24/7</p>
					</div>
				</div>
			</div>
			<div class="box-shadow">
				<img src="../img/homepage/shadow1.png">
			</div>
			<div class="new-product">
				<div class="new-product-menu">
					<div class="row">
						<div class="new-product-left col-xs-4 col-md-5 ">
							<p>sản phẩm nổi bật</p>
						</div>
						<div class="new-product-right col-xs-8 col-md-7">
							<ul>
								<li class="product-active" id="new-headset">Tai Nghe</li>
								<li id="new-keyboard" >Bàn Phím</li>
								<li id="new-mice">Chuột</li>
								<li id="new-other">Laptop & phụ kiện</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="new-product-content new-headset">
					<div class="row">
						<div class="new-item col-xs-12 col-sm-4 ">
							<div class="product-thubnail">
								<img src="../img/homepage/headset1.png">
								<div class="product-thubnail-hover product-thubnail-hover-cart">
									<a href="#" class="">Mua Hàng</a>
								</div>
								<div class="product-thubnail-hover product-thubnail-hover-more">
									<a href="product.html" class="">Xem Thêm</a>
								</div>
							</div>
							<div class="product-information">
								<h3>Artics 5</h3>
								<p>1.500.000 VNĐ</p>
							</div>
						</div>
						<div class="new-item col-xs-12 col-sm-4">
							<div class="product-thubnail">
								<img src="../img/homepage/headset1.png">
								<div class="product-thubnail-hover product-thubnail-hover-cart">
									<a href="#" class="">Mua Hàng</a>
								</div>
								<div class="product-thubnail-hover product-thubnail-hover-more">
									<a href="product.html" class="">Xem Thêm</a>
								</div>
							</div>
							<div class="product-information">
								<h3>Artics 5</h3>
								<p>1.500.000 VNĐ</p>
							</div>
						</div>
						<div class="new-item col-xs-12 col-sm-4">
							<div class="product-thubnail">
								<img src="../img/homepage/headset1.png">
								<div class="product-thubnail-hover product-thubnail-hover-cart">
									<a href="#" class="">Mua Hàng</a>
								</div>
								<div class="product-thubnail-hover product-thubnail-hover-more">
									<a href="product.html" class="">Xem Thêm</a>
								</div>
							</div>
							<div class="product-information">
								<h3>Artics 5</h3>
								<p>1.500.000 VNĐ</p>	
							</div>
						</div>
					</div>
				</div>
				<div class="new-product-content new-keyboard">
					<div class="row">
						<div class="new-item col-xs-12 col-sm-4">
							<div class="product-thubnail">
								<img src="../img/homepage/keyboard1.png">
								<div class="product-thubnail-hover product-thubnail-hover-cart">
									<a href="#" class="">Mua Hàng</a>
								</div>
								<div class="product-thubnail-hover product-thubnail-hover-more">
									<a href="product.html" class="">Xem Thêm</a>
								</div>
							</div>
							<div class="product-information">
								<h3>Apex M750 TKL</h3>
								<p>2.500.000 VNĐ</p>
							</div>
						</div>
						<div class="new-item col-xs-12 col-sm-4">
							<div class="product-thubnail">
								<img src="../img/homepage/keyboard1.png">
								<div class="product-thubnail-hover product-thubnail-hover-cart">
									<a href="#" class="">Mua Hàng</a>
								</div>
								<div class="product-thubnail-hover product-thubnail-hover-more">
									<a href="product.html" class="">Xem Thêm</a>
								</div>
							</div>
							<div class="product-information">
								<h3>Apex M750 TKL</h3>
								<p>2.500.000 VNĐ</p>
							</div>
						</div>
						<div class="new-item col-xs-12 col-sm-4">
							<div class="product-thubnail">
								<img src="../img/homepage/keyboard1.png">
								<div class="product-thubnail-hover product-thubnail-hover-cart">
									<a href="#" class="">Mua Hàng</a>
								</div>
								<div class="product-thubnail-hover product-thubnail-hover-more">
									<a href="product.html" class="">Xem Thêm</a>
								</div>
							</div>
							<div class="product-information">
								<h3>Apex M750 TKL</h3>
								<p>2.500.000 VNĐ</p>
							</div>
						</div>
					</div>
				</div>
				<div class="new-product-content new-mice">
					<div class="row">
						<div class="new-item col-xs-12 col-sm-4">
							<div class="product-thubnail">
								<img src="../img/homepage/mice1.png">
								<div class="product-thubnail-hover product-thubnail-hover-cart">
									<a href="#" class="">Mua Hàng</a>
								</div>
								<div class="product-thubnail-hover product-thubnail-hover-more">
									<a href="product.html" class="">Xem Thêm</a>
								</div>
							</div>
							<div class="product-information">
								<h3>Sensei 310</h3>
								<p>1.800.000 VNĐ</p>
							</div>
						</div>
						<div class="new-item col-xs-12 col-sm-4">
							<div class="product-thubnail">
								<img src="../img/homepage/mice1.png">
								<div class="product-thubnail-hover product-thubnail-hover-cart">
									<a href="#" class="">Mua Hàng</a>
								</div>
								<div class="product-thubnail-hover product-thubnail-hover-more">
									<a href="product.html" class="">Xem Thêm</a>
								</div>							</div>
								<div class="product-information">
									<h3>Sensei 310</h3>
									<p>1.800.000 VNĐ</p>
								</div>
							</div>
							<div class="new-item col-xs-12 col-sm-4">
								<div class="product-thubnail">
									<img src="../img/homepage/mice1.png">
									<div class="product-thubnail-hover product-thubnail-hover-cart">
										<a href="#" class="">Mua Hàng</a>
									</div>
									<div class="product-thubnail-hover product-thubnail-hover-more">
										<a href="product.html" class="">Xem Thêm</a>
									</div>
								</div>
								<div class="product-information">
									<h3>Sensei 310</h3>
									<p>1.800.000 VNĐ</p>
								</div>
							</div>
						</div>
					</div>
					<div class="new-product-content new-other">
						<div class="row">
							<div class="new-item col-xs-12 col-sm-4">
								<div class="product-thubnail">
									<img src="../img/homepage/keyboard1.png">
									<div class="product-thubnail-hover product-thubnail-hover-cart">
										<a href="#" class="">Mua Hàng</a>
									</div>
									<div class="product-thubnail-hover product-thubnail-hover-more">
										<a href="product.html" class="">Xem Thêm</a>
									</div>
								</div>
								<div class="product-information">
									<h3>Apex M750 TKL</h3>
									<p>2.500.000 VNĐ</p>
								</div>
							</div>
							<div class="new-item col-xs-12 col-sm-4">
								<div class="product-thubnail">
									<img src="../img/homepage/keyboard1.png">
									<div class="product-thubnail-hover product-thubnail-hover-cart">
										<a href="#" class="">Mua Hàng</a>
									</div>
									<div class="product-thubnail-hover product-thubnail-hover-more">
										<a href="product.html" class="">Xem Thêm</a>
									</div>
								</div>
								<div class="product-information">
									<h3>Apex M750 TKL</h3>
									<p>2.500.000 VNĐ</p>
								</div>
							</div>
							<div class="new-item col-xs-12 col-sm-4">
								<div class="product-thubnail">
									<img src="../img/homepage/keyboard1.png">
									<div class="product-thubnail-hover product-thubnail-hover-cart">
										<a href="#" class="">Mua Hàng</a>
									</div>
									<div class="product-thubnail-hover product-thubnail-hover-more">
										<a href="#" class="">Xem Thêm</a>
									</div>
								</div>
								<div class="product-information">
									<h3>Apex M750 TKL</h3>
									<p>2.500.000 VNĐ</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="product-combo-area">
			<div class="container-fluid">
				<div class="product-combo-left col-sm-6"  >
					<div class="product-combo-thumb">
						<img src="../img/homepage/apexEG.png">
					</div>
					<div class="product-combo-icon">
						<span>+</span>
					</div>
					<div class="product-combo-thumb">
						<img src="../img/homepage/artics5.png">
					</div>
					<div class="product-combo-thumb">
						<img src="../img/homepage/rival300EG.png">
					</div>
					<div class="product-combo-icon">
						<span>+</span>
					</div>
					<div class="product-combo-thumb">
						<img src="../img/homepage/QCK.png">
					</div>

				</div>
				<div class="product-combo-right col-sm-6" >	
					<div class="product-combo-content">
						<a>Combo Gaming Gear Evil Geniuses Edition</a>
						<p class="old_price">6.500.000 VNĐ</p>
						<p class="new_price">6.000.000 VNĐ</p>
						<ul class="product-combo-description">
							<li>Bàn phím cơ SteelSeries Apex M500</li>
							<li>Chuột Rival 300 Evil Genius Edition</li>
							<li>Tai Nghe Arictis 5</li>
							<li>Pad chuột QCK+</li>
						</ul>					
						<a class="art_to_cart">mua sản phẩm</a>
					</div>
				</div>
			</div>
		</div>
		<div class="background-product-area">
			<div class="background-product-content">
				<h2 >Arcsitc 3 Bluetooth</h2>
				<p >Wired for Gaming. Bluetooth for Life.</p>
				<a href="product.html">Chi Tiết Sản Phẩm</a>
			</div>
		</div>
		<div class="social-area">
			<div class="container-fluid">
				<div class="follow-social">
					<div class="follow-logo">
						<ul>
							<li>
								<a class="twitter" href="">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a class="facebook" href="">
									<i class="fa fa-facebook-official" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a class="twitch" href="">
									<i class="fa fa-twitch" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a class="instagram" href="">
									<i class="fa fa-instagram" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a class="youtube" href="">
									<i class="fa fa-youtube-play" aria-hidden="true"></i>
								</a>
							</li>
						</ul>				
					</div>
					<div class="follow-text">
						<p>For Gamers . By Gamers .</p>
					</div>
				</div>
				<div class="review-social hidden-xs">
					<div class="review-gallery">
						<ul>
							<li class="review-gallery-user" id="gallery-user1" Stt="0">
								<img src="">
							</li>
							<li class="review-gallery-user" id="gallery-user2" Stt="1">
								<img src="">
							</li>
							<li class="review-gallery-user" id="gallery-user3" Stt="2">
								<img src="">
							</li>
							<li class="review-gallery-user review-active" id="gallery-user4" Stt="3">
								<img src="">
							</li>
							<li class="review-gallery-user" id="gallery-user5" Stt ="4">
								<img src="">
							</li>
							<li class="review-gallery-user" id="gallery-user6" Stt="5">
								<img src="">
							</li>
							<li class="review-gallery-user" id="gallery-user7" Stt="6">
								<img src="">
							</li>
						</ul>
					</div>
					<div class="review-user" stt="0" style="display: none">
						<p class="review-user-name">
							Evany
						</p>
						<p class="review-user-address">
							Hà Nội
						</p>
					</div>
					<div class="review-user" stt="1" style="display: none">
						<p class="review-user-name">
							Shoxx
						</p>
						<p class="review-user-address">
							Hà Nội
						</p>
					</div>
					<div class="review-user" stt="2" style="display: none">
						<p class="review-user-name">
							Arterzy
						</p>
						<p class="review-user-address">
							Hà Nội
						</p>
					</div>
					<div class="review-user" stt="3">
						<p class="review-user-name">
							KennyS
						</p>
						<p class="review-user-address">
							Hà Nội
						</p>
					</div>
					<div class="review-user" stt="4" style="display: none">
						<p class="review-user-name">
							Niko
						</p>
						<p class="review-user-address">
							Hà Nội
						</p>
					</div>
					<div class="review-user" stt="5" style="display: none">
						<p class="review-user-name">
							Dev1ce
						</p>
						<p class="review-user-address">
							Hà Nội
						</p>
					</div>
					<div class="review-user" stt="6" style="display: none">
						<p class="review-user-name">
							Kjaerbye
						</p>
						<p class="review-user-address">
							Hà Nội
						</p>
					</div>
					<div class="review-information">
						<span class="review-button review-previous"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
						<span class="review-content" stt="0" style="display: none;">
							Evany : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
						</span>
						<span class="review-content" stt="1" style="display: none;">
							Shoxx : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
						</span>
						<span class="review-content" stt="2" style="display: none;">
							RTZ : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to makeaaaaaaaaa 
						</span>
						<span class="review-content" stt="3">
							KennyS : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
						</span>
						<span class="review-content" stt="4" style="display: none;">
							Niko : Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
						</span>
						<span class="review-content" stt="5" style="display: none;">
							Dev1ce : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when to make a type specimen book
						</span>
						<span class="review-content" stt="6" style="display: none;">
							KjaerBye : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
						</span>
						<span class="review-button review-next"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
					</div>
				</div>
			</div>
		</div>
		<div class="other-product-category">
			<div class="other-product-category-item">
				<div class="other-product-category-scale other-product-category-keyboard">
					<p>Bàn Phím</p>
				</div>
			</div>
			<div class="other-product-category-item">
				<div class="other-product-category-scale other-product-category-mice">
					<p>Chuột</p>
				</div>
			</div>
			<div class="other-product-category-item">
				<div class="other-product-category-scale other-product-category-laptop">
					<p>Laptop</p>
				</div>
			</div>
			<div class="other-product-category-item">
				<div class="other-product-category-scale other-product-category-headset">
					<p>Tai Nghe</p>
				</div>
			</div>
		</div>
	</section>

	<%- include('include/all-modal') %>

	<%- include('include/footer') %>