html,body, *{
	box-sizing: border-box;
	margin: 0 auto;
}
a{
	text-decoration: none;
}

.wrap{
	
	width: 80%;
	max-width: 1150px;
	margin:0 auto;
}
.header{
	display: block;
	float: left;
	position: relative;
	background: rgba(205,102,29,0.75);
	z-index: 100;
	width: 100%;
}
.banner{
	float: left;
}

.logo,.menu,.delivery{
	float: left;
}
.logo img{
	max-width: 100%;
	height: 150px;
	float: left;
	position: absolute;
	top: 58px;
}
.menu {
	padding-top: 50px;
	overflow-y: auto;
	max-width: 100%;
	margin-left: 150px;
}
.menu li {
	float: left;
	padding : 24px;
	font-size: 30px;
}
.menu ul {
	list-style: none;
}
.menu a:link{
	color: white;
}
.menu li:hover a{
	color: blue;

}
.menu a:visited{
	color: white;
	
}
.delivery{
	padding-top: 60px;
	padding-left : 50px;
}
.delivery img{
	max-width: 100%;
	height: 55px;
	float: left;
	padding-top: 1px;
}
.text-top{
	padding-left: 82px;
	color: white;
	max-width: 100%;
	padding-top: 10px;
}
.content {
	width: 100%;
	overflow-y: hidden;
	/*clear: both;*/
}
.banner img{
	width: 100%;
	
}


.gioithieu {
	padding: 20px;
	float: left;
	max-width: 100%;

}
.gioithieu img{
	float: left;
}
#note1 {
	color: red;
	font-size: 25px;
	font-style: italic;
}
.note a:link {
	color: red;
}
.note a:hover {
	color: blue;
}
.note a:visited {
	color: red;
}
.note a{
	font-style: italic;
	font-size: 20px;
}
.menuu img {
	margin-right: 15px;
	display: block;
	padding-left: 30px;
}
.menuu a{
	padding: 90px;
	display: block;
	text-align: center;
	padding-top: 10px;
	font-size: 25px;
}
li.menuu {
	list-style: none;
	float: left;
}
.menuu a:link{
	color: white;
}
.menuu a:hover{
	color: blue;
}
.menuu a:visited{
	color: white;
}
.backgroundmenu{
	display: block;
	float: left;
	position: relative;
	background: rgba(205,102,29,0.75);
	z-index: 100;
	width: 100%;
	height: 300px;
}
.footer{
	max-width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
    background-color: #8B4513;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.footer span{
	font-size: 35px;
	font-style: italic;;
}
.back img {
	max-width: 100%;
	height: 80px;
	position: fixed;
	right: 297px;
	bottom: 0px;
	z-index: -10;
}
