.box{
	max-width: 35%;
	float: left;
	margin-right: 15px;
	display: block;
	text-align: center;
	margin-left: 125px;
}
img:hover{
	border-radius: 50%;	
}
img{
	border: 2px solid blue;
}
.box img{
	width: 100%;
}
	a:link {
		color: black;
	}
	a:hover{
		color: red;
	}
	a:visited { 
		color: black;
	}
