*{
	box-sizing: border-box;
}
.wrap{
	
	width: 80%;
	max-width: 1000px;
	margin:0 auto;
	overflow-y: auto;

	
}
.box{
	width: 50%;
	float: left;
	display: block;
	text-align: center;
	margin-bottom: 15px;
	
}
img:hover{
	border-radius: 50%;	
}
img{
	width: 100%;
	border: 2px solid blue;
}
.box img{
	width: 80%;
	margin-left: 10%;


}
	a:link {
		color: black;
	}
	a:hover{
		color: red;
	}
	a:visited { 
		color: black;
	}
	

#main-menu {
	float: left;
	font-size: 16px;
	margin-bottom: 40px;
	
}

#main-menu img{
	border-radius: 0;
}
#main-menu a{
	margin-right: 5px;
	

}

.menu {
	background-color: black;
	line-height: 100px;
	/*display: inline;*/
	/*padding: 20px 0;*/
	width: 100%;
	padding: 6px 0;
	text-align: center;


}
.menu  a{
	color: white;
	
}
