.container-fluid{
	padding: 0;
}
body{
	padding: 0!important;
}
.navbar-default-header {
	padding: 10px 0;
	background-color: #16171a;
	border-bottom: solid 1px #262626;
	margin: 0;
	border: none;
	border-radius: 0;
}
.navbar-menu-items{
	padding: 0;
}
.navbar-default .navbar-brand {
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 3rem;
}
.navbar-default .navbar-nav>li>a{
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.6rem;
	letter-spacing:1px;
}
.navbar-default .navbar-brand:hover {
	color: #FE0000;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 3rem;
	letter-spacing:1px;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #FE0000;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 2rem;
}
.navbar-default .navbar-nav>li>a:focus{
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	outline: none;
}
.navbar-default .navbar-nav-right>li>a{
	font-size: 2rem;
}
.navbar-default .navbar-nav-right>li>a:hover {
	font-size: 2rem;
}
.navbar-header {
	padding-left: 30px;
}
.navbar-header img {
	float: left;
	width: 15%;
	margin-right: 10px;
}
.dropbtn {
	color: white;
	padding: 16px;
	border: none;
	cursor: pointer;
}
.navbar-item-dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #2b292a;
	min-width: 270px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;

}

.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid rgb(51, 51, 51);
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif	
	;
	font-size: 1.5rem;
}

.dropdown-content a:hover {background-color: #1f1e1e }

.navbar-item-dropdown:hover .dropdown-content {
	display: block;
}
.navbar-nav-right>li{
	margin-left: 50px;
}
.modal-dialog-login{
	width: 900px;
}
.modal-content-login , .modal-content-singin {
	width: 100%;
	float: left;
}
.modal-form-login{
	padding: 100px 30px 150px 50px;
	line-height: 25px;
}
.form-login-title , .form-singin-title-left , .form-singin-title-right {
	margin-top: 1.5em;
	margin-bottom: 0.75em;
	color: #414141;
	letter-spacing: 1px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 2.6rem;
	font-weight: 400;
}
.form-input-wrapper {
	padding-top: 20px;
	padding-bottom: 10px;
}
.form-input-wrapper input {
	border: none;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	width: 100%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.form-input-wrapper input:focus{
	outline: none;
}
.form-button-wrapper{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding-top: 30px;
}
.form-button-wrapper input {
	background-color: #FE0000;
	color: #fff;
	border: none;
	padding: 15px 30px;
}
.form-button-wrapper input:hover {
	background-color: #fff;
	color:  #FE0000;
	border: 1px solid  #FE0000;
}
.form-button-wrapper a{
	float: right;
	color: #8f9090;
	padding-top: 15px;
	border-bottom: 1px solid #ddd;
	padding-bottom : 7px;
}
.form-button-wrapper a:hover{
	float: right;
	color: #FE0000;
	padding-top: 15px;
	border-bottom: 1px solid #FE0000;
	text-decoration: none;
	padding-bottom : 7px;
}
.modal-login-right{
	background-image: url(../img/homepage/bg-login.jpg);
	position: absolute;
	z-index: 1;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	right: 0;
	color: #fff;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.icon-close {
	position: absolute;
	right: 10px;
	top: 10px;
	color: #fff;
	font-size: 2.6rem;
}
a.icon-close :hover , a.icon-close :focus {
	color: #ddd;
}
.flt-right , .form-singin-title-left{
	color: #fff;
}
.modal-form-login>ul>li{
	padding-top: 10px;
}
.form-button-wrap-singin , .form-button-wrap-login{
	padding-top: 35px;
}
.form-button-wrap-singin a , .form-button-wrap-singin a:focus,
.form-button-wrap-login a,.form-button-wrap-login a:focus {
	padding: 15px 30px;
	color: #fff;
	background-color: none;
	border: 1px solid #fff;
	text-decoration: none;
	outline: none;
}
.form-button-wrap-singin a:hover,.form-button-wrap-login a:hover{
	text-decoration: none;
	color: #8f9090;
	background-color: #fff;
}
.modal-form-singin {
	padding: 25px 30px 50px 50px;
	line-height: 25px;
}
.icon-close-singin {
	position: absolute;
	right: 10px;
	top: 10px;
	color: #414141;
	font-size: 2.6rem;
}
a.icon-close-singin :hover , a.icon-close-singin :focus {
	color: #ddd;
}
.modal-singin-left{
	background-image: url(../img/homepage/bg-login.jpg);
	position: absolute;
	z-index: 1;
	min-height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	left: 0;
	color: #fff;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.modal-singin-right {
	float: right;
}
.modal-dialog-search {
	width: 700px;
}
.modal-content-search {
	float: left;
	width: 100%;
	background-color: #2b292a;
	border-radius : 0;
	padding: 15px 0px;
	float: left;
	width: 100%;
}
.modal-search-icon {
	font-size: 2rem;
	color: #fff;
	text-align: center;
}
.modal-search-input input{
	background-color: #2b292a;
	width: 100%;
	border: none;
	outline: none;
	color: #fff;
	font-size: 2rem;
}
.modal-search-input input::placeholder{
	color: #fff;
}
.add_to_cart{
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
	background-color: white;
}
.modal-dialog-cart{
	position: fixed;
	margin: 0;
	top: 0;
	right: 0;
	width: 400px;
}
.modal.right .modal-dialog-cart{
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}
.modal.right.fade .modal-dialog-cart {
	right: -400px;
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, right 0.3s ease-out;
	-o-transition: opacity 0.3s linear, right 0.3s ease-out;
	transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.right.fade.in .modal-dialog {
	right: 0;
}
.modal-content-cart{
	border-radius: 0;
	min-height: 100vh;
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.modal-content-cart hr{
	border-color: black;
	width: 80%;
}
.form-cart-title {
	font-size: 2.5rem;
}
.modal-content-cart p{
	padding: 20px 0 50px 0 ;
	color: rgb(5, 1, 1);
}
.modal-content-cart a {
	text-decoration: none;
	color: #fff;
	padding: 15px 30px;
	background-color:  #FE0000;
}
.modal-content-cart a:hover {
	text-decoration: none;
	color: #FE0000;
	padding: 15px 30px;
	background-color: #fff;
	border: solid 1px #FE0000;
}
.background-image-area{
	border-bottom: 2px solid #FE0000;
	border-top: 2px solid #FE0000;
}
.carousel-indicators li{
	width: 12px;
	height: 12px;
	margin: 2px;
	background-color: #fff;
	z-index: 9;
}
.carousel-indicators .active{
	width: 16px;
	height: 16px;
	background-color: #FE0000;
	border-color: #FE0000;
	z-index: 9;
}
.products-favored-content h3{
	font-size: 3.6rem;
	line-height: 55px;
}
.products-favored-content p{
	font-size: 1.6rem;
	padding: 10px 0 20px 0;
}
.products-favored-text-right{
	width: 50%;
	float: right;
}
.products-favored-text-right p{
	float: right;
	font-size: 2.6rem;
	display: inline-block;
}
.products-favored-text-right h5{
	float: right;
	font-size: 2rem;
	font-style: italic;
}
.products-favored-text-right span{
	font-size: 1.5rem;
}
.products-favored-text-right a{
	text-decoration: none;
	padding: 15px 30px;
	border: solid 1px #fff;
	color: #fff;
	float: right;
}
.products-favored-text-right a:hover{
	text-decoration: none;
	padding: 15px 30px;
	border: solid 1px #fff;
	color: #8f9090;
	background-color: #fff;
}
.products-favored-text-left{
	width: 50%;
	float: left;
}
.products-favored-text-left p{
	float: left;
	font-size: 2.6rem;
	display: inline-block;
}
.products-favored-text-left h5{
	float: left;
	font-size: 2rem;
	font-style: italic;
}
.products-favored-text-left span{
	font-size: 1.5rem;
}
.products-favored-text-left a{
	text-decoration: none;
	padding: 15px 30px;
	border: solid 1px #fff;
	color: #fff;
	float: left;
}
.products-favored-text-left a:hover{
	text-decoration: none;
	padding: 15px 30px;
	border: solid 1px #fff;
	color: #8f9090;
	background-color: #fff;
}
.products-favored-item1{
	background-image: url(../img/homepage/item1.jpg);
	background-position :center;
	background-size : cover;
	height: 400px;
	background-color: #1f1e1e;
	color: #fff;
	position: relative;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.products-favored-item2{
	background-image: url(../img/homepage/item2.jpg);
	background-position :center;
	background-size : cover;
	height: 400px;
	background-color: #1f1e1e;color: #fff;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.products-favored-item3{
	background-image: url(../img/homepage/item3.jpg);
	background-position :center;
	background-size : cover;
	height: 400px;
	background-color: #1f1e1e;color: #fff;

	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.products-favored-item4{
	background-image: url(../img/homepage/item4.jpg);
	background-position :center;
	background-size : cover;
	height: 400px;
	background-color: #1f1e1e;
	color: #fff;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.why-choose-area{
	width: 100%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #fff;
	background-image: url(../img/homepage/background-whychoose.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 750px;
	display: inline-block;
	border-bottom: 2px solid #FE0000;
	border-top: 2px solid #FE0000;
}
.why-choose-text {
	padding: 0 25% 0 37%;
}
.why-choose-text h3{
	font-size: 5rem;
	line-height: 90px;
	padding-top: 15px;
	padding-bottom: 20px;
}
.why-choose-text span {
	font-size: 2rem;
}
.why-choose-text ol{
	padding: 0;
}
.why-choose-text ol>li{
	list-style-type: none;
	padding-bottom: 30px;
}
.why-choose-text ol>li>i{
	list-style-type: none;
	font-size: 3.5rem;
	color: #FE0000;
	margin-right: 20px
}
.why-choose-text ol>li>p{
	display: inline;
	font-size: 2rem;
}
.follow-us-icon ul{
	padding: 40px 0 0 0;
}
.follow-us-icon ul>li{
	display: inline;
	margin-right: 30px;
	font-size: 4rem;	
}
.follow-us-icon ul>li>a{
	color: #fff;
	text-decoration: none;
}
.follow-us-icon ul>li>a.icon-twitter :hover{
	color: #00aced;
	text-decoration: none;
}
.follow-us-icon ul>li>a.icon-facebook :hover{
	color: #4267b2;
	text-decoration: none;
}
.follow-us-icon ul>li>a.icon-youtube :hover{
	color: #FF0000;
	text-decoration: none;
}
.follow-us-icon ul>li>a.icon-instagram :hover{
	color: #c1327f;
	text-decoration: none;
}
.follow-us-icon ul>li>a.icon-twitch :hover{
	color: #4B367C;
	text-decoration: none;
}
.homepage-footer {
	background-color: #16171a;
	color: #fff;
	padding: 20px 5%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.footer-text{
	float: left;
	width: 100%;
}
.homepage-footer-products img {
	width: 4%;
}
.homepage-footer-products ul{
	list-style-type: none;
	padding-left: 0;
	display: inline-block;
	padding-left: 20px;
}
.homepage-footer-products ul>a{
	text-decoration: none;
	padding-bottom: 15px;
}
.homepage-footer-products ul>a>li{
	color: #fff;
	font-size: 1.6rem;
	display: inline;
	margin-right: 40px;	
}
.homepage-footer-products ul>a>li:hover{
	display: inline;
	color: #FE0000;
	font-size: 1.6rem;
	margin-right: 40px;
}
.homepage-footer-support{
	padding-top: 10px;
}
.footer-logo img{
	width: 105%;
}
.footer-copyright{
	padding: 0;
	text-align: center;
}
.footer-copyright img {
	width: 40%;
}
.footer-copyright-text{
	font-size: 1.3rem;
	padding: 5px 20px;
}