		<footer>
			<div class="homepage-footer">
				<div class="homepage-footer-top">
					<div class="homepage-top-content-left col-md-6">
						<h2>showroom trưng bày & bán lẻ tp.hà nội</h2>
						<p>địa chỉ : 323 nguyễn văn cừ, tp.hà nội</p>
						<p>điện thoại : 01689.187.670</p>
						<h2>showroom trưng bày & bán lẻ tp.hồ chí minh</h2>
						<p>địa chỉ : số 5 quận 1 , tp.hồ chí minh</p>
						<p>điện thoại : 01689.670.187</p>
					</div>
					<div class="homepage-top-content-right col-md-6"> 
						<h2>hỗ trợ kĩ thuật và bảo hành</h2>
						<p>trụ sở : tầng 22 , tòa nhà icon4 , 242a đê la thành , q.đống đa , tp.hà nội</p>
						<p>điện thoại : 1900.1000</p>
						<p>email : ghostgaminggear@gmail.com</p>
					</div>
				</div>					
				<div class="homepage-footer-bottom">
					<div class="homepage-footer-bottom-content">
						<ul>
							<li><a href="">
								<img src="../img/homepage/logo.png">
							</a></li>
							<li><a href="">về chúng tôi</a></li>
							<li><a href="">điều khoản và điều kiện</a></li>
							<li><a href="">blog</a></li>
							<li><a href="">chính sách bảo mật</a></li>
							<li><a href="">Forum</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<script src="../js/jquery-3.2.1.min.js"></script>
		<script src="../js/wow.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../jquery-confirm-master/js/jquery-confirm.js"></script>
		<script src="../js/index.js"></script>
	</body>
	</html>