<!doctype html>
<html>
<head>
	<title>Ghost Gaming Gear</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="img/homepage/logo.png">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href='css/font-awesome.min.css'>
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="jquery-confirm-master/css/jquery-confirm.css">
