</head>
<body>

	<!-- header homepage -->

	<!-- header xs-sm -->

	<header class="header-xs visible-xs visible-sm">
		<div class="header-xs-title">
			<a href="index.html"><img src="../img/homepage/logo.png"></a>
		</div>
		<div class="header-xs-content">
			<div class="header-xs-content-item col-xs-3">
				<i class="fa fa-bars bar-item" aria-hidden="true">
				</i>
			</div>
			<div class="header-xs-content-item col-xs-3">
				<a href="#">
					<i class="fa fa-user" aria-hidden="true"></i>
				</a>
			</div>
			<div class="header-xs-content-item col-xs-3">
				<i class="fa fa-search" aria-hidden="true"></i>
			</div>
			<div class="header-xs-content-item col-xs-3">
				<i class="fa fa-shopping-cart" aria-hidden="true"></i>
			</div>
		</div>
		<div class="header-xs-details">
			<a href="">Laptop</a>
			<a href="">bàn phím</a>
			<a href="">chuột</a>
			<a href="category.html">tai nghe</a>
			<a href="">mousepads</a>
			<a href="">cặp , ba lô , túi gaming</a>
			<a href="">game pad</a>
			<a href="#">Combo Gaming Gear</a>
			<a href="#">Sản phẩm giảm giá</a>
		</div>
		<div class="header-xs-search">
			<input type="text" name="" placeholder="tìm kiếm">
		</div>
		<div class="header-xs-cart">
			<h3>giỏ hàng</h3>
			<p>hiện không có sản phẩm nào trong giỏ hàng của bạn</p>
			<a href="">tiếp tục mua hàng</a>
		</div>
		<div class="header-xs-user">
			<div class="header-xs-login col-xs-6">
				<p>đăng nhập</p>
			</div>
			<div class="header-xs-singin col-xs-6">
				<p>đăng ký</p>
			</div>
			<div class="modal-form-login header-xs-form-login">
				<h5 class="form-login-title">
					đăng nhập
				</h5>
				<form>
					<div class="form-input-wrapper">
						<input type="text" name="" placeholder="tài khoản">
					</div>
					<div class="form-input-wrapper">
						<input type="text" name="" placeholder="mật khẩu">
					</div>
					<div class="form-button-wrapper">
						<input type="submit" name="" value="đăng nhập">
						<a href="">quên mật khẩu?</a>
					</div>
				</form>
			</div>
			<div class="modal-form-singin header-xs-form-singin">
				<h5 class="form-singin-title-right">
					đăng ký
				</h5>
				<form>
					<div class="form-input-wrapper">
						<input type="text" name="" placeholder="tài khoản">
					</div>
					<div class="form-input-wrapper">
						<input type="text" name="" placeholder="mật khẩu">
					</div>
					<div class="form-input-wrapper">
						<input type="text" name="" placeholder="xác nhận mật khẩu">
					</div>
					<div class="form-input-wrapper">
						<input type="text" name="" placeholder="email">
					</div>
					<div class="form-button-wrapper">
						<input type="submit" name="" value="đăng ký">
					</div>
				</form>
			</div>
		</div>
	</header>



	<!-- header md -->
	<header class="nav-wrap hidden-xs hidden-sm">
		<nav class="navbar navbar-default navbar-default-header">
			<div class="container-fluid">
				<div class="navbar-header col-md-2">
					<a href="index.html"><img src="../img/homepage/logo.png"></a>
				</div>
				<div class="navbar-menu navbar-menu-items col-md-8">
					<ul class="nav navbar-nav" >
						<li class="navbar-item"><a href="category.html">laptop</a></li>
						<li class="navbar-item"><a href="category.html">bàn phím</a></li>
						<li class="navbar-item"><a href="category.html">chuột</a></li>
						<li class="navbar-item"><a href="category.html">tai nghe</a></li>
						
						<li class="navbar-item navbar-item-dropdown">
							<a href="#" class="dropbtn">
								sản phẩm khác
								<i class="fa fa-chevron-down" aria-hidden="true"></i>
							</a>
							<div class="dropdown-content">
								<a href="#">mousepads</a>
								<a href="#">cặp , ba lô , túi gaming</a>
								<a href="#">tay cầm chơi game ( game pad)</a>
								<a href="#">Combo Gaming Gear</a>
								<a href="#">Sản phẩm giảm giá</a>
							</div>
						</li>	
					</ul>
				</div>
				<div class="navbar-menu-right col-md-2">
					<ul class="nav navbar-nav navbar-nav-right" >
						<li class="navbar-item">
							<a href="#" class="btn btn-lg" data-toggle="modal" data-target="#login-modal">
								<i class="fa fa-user" aria-hidden="true"></i>
							</a>
						</li>
						<li class="navbar-item">
							<a href="#" data-toggle="modal" data-target="#search-modal">
								<i class="fa fa-search" aria-hidden="true"></i>
							</a>
						</li>
						<li class="navbar-item ">
							<a href="#" data-toggle="modal" data-target="#cart-modal" data-direction='right'>
								<i class="fa fa-shopping-cart" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>