html,body, *{
	box-sizing: border-box;
	margin: 0 auto;
}
a{
	text-decoration: none;
}

.site-nav{
	display: block;
	float: left;
	position: relative;
	z-index: 100;
	width: 100%;
	padding-top: 20px;
}
.navbar-default {
	background: rgba(205,102,29,0.75);
}
.nav.navbar-nav{
	padding-left: 75px;	
}

.banner{
	float: left;
}

.logo,.menu,.delivery{
	float: left;
}
.logo img{
	max-width: 100%;
	height: 78px;
	float: left;
	top: 0px;
	left: -15px;
	position: absolute;
}
.menu {
	padding-top: 50px;
	overflow-y: auto;
	max-width: 100%;
	margin-left: 150px;
}

.nav.navbar-nav  a:link{
	color: white;
}
.nav.navbar-nav li:hover a{
	color: blue;

}
.nav.navbar-nav  a:visited{
	color: white;
	
}